/.dart_tool
/.flutter-plugins
/.flutter-plugins-dependencies
/.idea
/.metadata
/.packages
/android
/ios
/pubspec.lock
/build
/bwo-server/node_modules
/bwo-server/resources/data/tmp/
/bwo-server/resources/data/service-account-file.json
/.vscode